*{
    box-sizing: content-box;
}
header {
  position: fixed;
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  z-index: 1;
}
.navigation{
    line-height: 40px;
}
.nav-list {
  margin: 0px;
  height: 40px;
  list-style: none;
  
}
.nav-item {


    height: 40px;
  margin-left: 16px;
  float: left;
  color: white;
  /* margin-top: 11px; */
  
}
.content {
    /* position: absolute; */
  background-color: beige;
  height: 5000px;
  width: 100%;
}
.head {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    position: absolute;  
    left: calc(50% - 100px);
    top: calc(50% - 100px);

}
.ear{
    width: 40px;
    height: 60px;
    background-color: brown;
    position: absolute;
}
.ear_left{
     left: -40px;
     top: -60px;
}
.ear_right{
    right: -40px;
    top: -60px;
}
.eye{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: grey;
    top: 80px;
}
.eye_left{
    left: 40px;
}
.eye_right{
    right: 40px;
}